body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #898eef;
        color: white;
      }

      /* Card Styling */
      .card {
        background: rgba(0, 0, 0, 0.6);
        padding: 40px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        animation: fadeIn 1s ease;
        width: 350px;
      }
      .h2{
        font-size: 50px;
      }

      /* Input Fields */
      input {
        display: block;
        width: 80%;
        margin: 15px auto;
        padding: 12px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
      }

      /* Button Styling */
      button {
        padding: 12px 25px;
        border-radius: 8px;
        border: none;
        background-color: #ff7e5f;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
      }

      button:hover {
        background-color: #feb47b;
      }

      /* Fade-in Animation */
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }